/*****************************************************************************
  website
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';


$mobile: new-breakpoint(min-width em(400));


/*****************************************************************************
  Base Styles
******************************************************************************/
.scroll {
	width: 100%;
}

.logo {
	float: left;
	margin: 0px;
	margin-top: 30px;
	line-height: 27px;
	margin-left: 20px;
	font-family: Myriad Pro, sans-serif;
	font-weight: 300;
	font-size: 35px;
}

.logo2 {
	float: left;
	margin: 0px;
	margin-top: 18px;
	margin-left: 2px;
	line-height: 17px;
	font-family: Myriad Pro, sans-serif;
	font-size: 20px;
	font-weight: 300;
}
.logo2 > a {
	text-decoration: none;
	color: white;
}
.logo3 {
	margin: 0px;
	line-height: 35px;
	font-family: Myriad Pro, sans-serif;
	font-size: 40px;
	font-weight: 300;
	color: white;
	position: relative;
	//top: 150px;
	text-align: right;
	margin-right: 50px;
	margin-top: 150px;
}
.logo4 {
	float: left;
	margin: 0px;
	margin-top: 40px;
	line-height: 33px;
	margin-left: 20px;
	font-family: Myriad Pro, sans-serif;
	font-weight: 300;
	font-size: 40px;
	text-align: left;
	color: white;

}
.nav-imgLogo {
	width: 60px;
	float: left;
	margin-left: 20px;
	margin-top: 11px;
}

body {
	margin: 0px;
	padding: 0px
}

.face {
	width: 100%;
}

h3 {
	border-bottom: 2px solid white;
	font-weight: 300;
	font-size: 25px;
	margin-right: 50px;
}



/*****************************************************************************
  Layout Styles
******************************************************************************/


#Home {
	background-color: black;
}
#About {
	background-color: black;
	//overflow: auto;	
}
.About-content {
	//height: 964px;
}

.Home-image {
	width: 100%;
}

.inline {
	margin: 0px;
	margin-right: 20px;
	padding: 0px;
	float: right;
	line-height: 70px;
	list-style-type: none;

}
.inline > li  {
	display: inline-block;
	margin-left: 70px;
	font-family: Myriad Pro, sans-serif;
	font-weight: 300;
	font-size: 25px;
	cursor: pointer;
}
.inline > li > a {
	text-decoration: none;
	color: white;
	padding: 20px 10px 30px;
}
.slide-list > li  {
	font-family: Myriad Pro, sans-serif;
	font-weight: 300;
	font-size: 25px;
	cursor: pointer;
	list-style-type: none;
}
.slide-list {
	padding-left: 20px;
	padding-right: 110px;
}
.slide-list > li > a {
	text-decoration: none;
	color: white;
	padding-right: 100%;
}

#nav-site2 {
	background-color: black;
	width: 100%;
	//overflow: hidden;
	color: white;
	height: 80px;
	/*position: fixed;
	top: 0;*/
}
.is-zoomable {
	@include span-columns(3 of 12);
	@include omega(4n);
}
#nav-site2.stick-nav {
	position: fixed;
}

li:hover {
	/*font-weight: 500;*/
	/*font-family: cursive;*/
	border-bottom: 6px solid #F7931D;
}
.circle:hover {
  	background-color: #F7931D;
}


.hover {
    position: relative;
}
.hover:hover {
	opacity: .4;
}

#Contact {
	background-color: #282828;
	padding-top: 20px;
	margin-bottom: -80px;
	//overflow: auto;
}


/*****************************************************************************
  Module Styles
******************************************************************************/

.page-nav {
	/*background-color: red;*/
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	color: white;
}

.Skills-content {
	width: 100%;
	//height: 1200px;
	//overflow: hidden;
}

.site-content {
	/*background-color: black;*/
}
#Portfolio {
	/*background-color: grey;*/
	width: 100%;
	height: 50%;
}

.Portfolio-content {
	background-color: black;
	width:100%;
	//overflow: auto;	
}

.grid {
	width: 25%;
	float: left;
}
/*.grid-2 {
	width: 50%;
	float: left;
}*/

.Image {
	overflow: hidden;
	height: 200px;
}
/*.Image-2 {
	overflow: hidden;
	height: 400px;
}*/

.skills-grid {
	width: 33.3333333%;
	float: left;	
}
.About-grid {
	width: 50%;
	float: left;
}
/*.About-column {
	height: 1200px;
}*/

.Contact-grid {
	width: 25%;
	float: right;
}

.Skills-content {
	background-color: darkorange;
}

.skills-column-1 {
	height: 1200px;
	background-color: #F7931D;
}

.skills-column-2 {
	height: 1200px;
	background-color: #19678E;
}

.skills-column-3 {
	height: 1200px;
	background-color: #F05A28;
}
.Skills-heading {
	margin: 0;
	position: relative;
	top: 180px;
	font-size: 45px; //45px
	color: white;
	text-align: center;
	line-height: 49px;
	font-family: Myriad Pro, sans-serif;
	font-weight: 600;
}
.graphic {
	
	font-size: 55px;
	font-weight: 100;
}
span {
	font-size: 12px;
	font-weight: 100;
}
	

.Design {
	width: 33.33333%;
	position: relative;
	top: 210px;
	/*left: 29px;*/
}

.text {
	margin: 0px;
	position: relative;
	top: 230px;
	color: white;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}

.About-text {
	color: white;
	text-align: right;
	position: relative;
	//top: 150px;
	margin-right: 50px;
	margin-left: 60px;
	font-weight: 300; 
}
.contact-info {
	color: white;
	font-family: Myriad Pro, sans-serif;
	font-weight: 300;
}

.Connect {
	color: white;
	font-family: Myriad Pro, sans-serif;
	font-weight: 300;

}
.active {
	overflow: visible;
	.fluidbox-overlay {
		background-color: rgba(0,0,0,0.92) ;
	}
}
.stuck {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}
.circle {
	background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-bottom: 10px;
    margin-left: -5px;
}
.fa {
	text-align: center;
  	position: relative;
  	font-size: 20px;
  	left: 14px;
  	top: 11px;
  	color: white;
}
.fa-twitter {
	left: 11px;
}
.fa-behance {
	left: 10px;
}
.fa-linkedin {
	left: 12px;
	top: 10px;
}
.fa-instagram {
	left: 11.5px;
}
.col-2 {
	position: relative;
	top: -100px;
	right: -50px;
}
.col-3 {
	position: relative;
	top: -150px;
	right: -100px;
}
.Contact-2 {
	margin-right: 50px;
}
.copyrights {
	background-color: black;
	width: 100%;
	height: 70px;
	position: relative;
	top: 10px;
	margin-bottom: -10px;
}
.copyrights-text {
	color: rgba(255, 255, 255, 0.3);
	font-family: Myriad Pro, sans-serif;
	font-weight: 100;
	font-size: 17px;
	//font-style: italic;
	text-align: right;
	padding-top: 30px;
	margin: 0;
	padding-right: 20px;
}
/************THUMBNAILS******************/
.thumbnail-1 {
	position: relative;
	right: 50px;
	top: -80px;
}
.thumbnail-2 {
	position: relative;
	top: -170px;
	right: 40px;	
}
.thumbnail-3 {
	width: 330px;
	position: relative;
	top: -31px;	
}
.thumbnail-4 {
	width: 400px;	
}
.thumbnail-5 {
	width: 320px;
	position: relative;
	top: -5px;	
}
.thumbnail-6 {
	width: 330px;
	position: relative;
	top: 0px;	
}
.thumbnail-7 {
	width: 325px;
	position: relative;	
}
.thumbnail-8 {
	width: 320px;
	position: relative;
	top: -5px;	
}
.thumbnail-9 {
	width: 320px;
	position: relative;
	top: -5px;	
}
.thumbnail-10 {
	width: 320px;
	position: relative;
	top: -90px;
}
.thumbnail-11 {
	width: 320px;
	position: relative;
	top: -5px;	
}
.thumbnail-12 {
	width: 420px;
	position: relative;
	top: -5px;	
}
.thumbnail-13 {
	width: 320px;
	position: relative;	
}
.thumbnail-14 {
	width: 385px;
	position: relative;
	left: -45px;
}
.thumbnail-15 {
	width: 320px;
	position: relative;
	top: -10px;	
}
.thumbnail-16 {
	width: 320px;
	position: relative;
	top: -20px;	
}
.thumbnail-17 {
	width: 320px;
	position: relative;
}

.thumbnail-18 {
	width: 320px;
	position: relative;	
}
.thumbnail-19 {
	width: 320px;
	position: relative;
	top: -25px;
}
.thumbnail-20 {
	width: 320px;
	position: relative;	
}
.thumbnail-21 {
	width: 320px;
	position: relative;
	top: -6px;
}
.thumbnail-22 {
	width: 380px;
	position: relative;
	top: -25px;
	left: -20px;
}
.thumbnail-23 {
	width: 385px;
	position: relative;
	left: -35px;
}
.thumbnail-24 {
	width: 380px;
	position: relative;
	top: -20px;
	left: -20px;

}


/************THUMBNAILS-ENDS******************/

.thumbnail {
	/*@include span-columns(12)*/;

	/*@include media($mobile) {
		@include span-columns(4);
	}*/
  }





.grid {
	.Image {
		img {
			min-width: 110%;
		}
	}
}
.skills-grid {
	.skills-column-1 {
		img {
			min-width: 100%;
		}
	}
}
.skills-grid {
	.skills-column-2 {
		img {
			min-width: 100%;
		}
	}
}
.skills-grid {
	.skills-column-3 {
		img {
			min-width: 100%;
		}
	}
}

/****************Tablet*********************/
@media screen and (min-width: 901px) {
	#slidebar {
		display: none;
	}
}
@media screen and (max-width: 900px) {
	.grid {
		width: 33.33333%
	}
	.logo {
	margin-top: 26px;
	margin-left: 17px;
	line-height: 24px;
	font-size: 30px;
	}
	.Skills-heading {
		top: 140px;
		font-size: 50px; 
		line-height: 65px;
	}
	.graphic {
		font-size: 90px;
		font-weight: 100;
	}
	.text {
		top:90px;
	}
	.Design {
		top:110px;
	}
	.nav-site {
		display: none;
	}
	.inline {
		display: none;
	}
	/*#nav {
 		position: absolute;
 	 	top:0px;
 	 	right:80px;
	}*/
	/*#nav-2 {
  		position: absolute;
  		right:80px;
  		margin-top: 13px;
	}*/
	#nav-toggle {
  		position: fixed;
  		right:-10px;
  		top: 7px;
  		cursor: pointer;
  		padding: 30px 90px 46px 0px;
  		z-index: 10000;	
	}
	#nav-toggle span,
	#nav-toggle span:before,
	#nav-toggle span:after, {
		cursor: pointer;
  		height: 7px;
  		width: 50px;
  		background: white;
  		position: absolute;
  		display: block;
  		content: '';
  		transition: all 0.35s $ease-out-back;
	}	

	#nav-toggle span:before {
  		top: -14px;
  		//transform: translateY(-25px);
	}

	#nav-toggle span:after {
 		bottom: -14px;
	}

	#nav-toggle.is-open span {
		background-color: rgba(255, 255, 255, 0);
	}
	#nav-toggle.is-open span:before {
		top: 0;
		transform: rotateZ(-45deg);
	}
	#nav-toggle.is-open span:after {
		bottom: 0;
		transform: rotateZ(45deg);
	}

	#nav-toggle span,
	#nav-toggle span:before,
	#nav-toggle span:after {
  		 transition: all 500ms $ease-out-back;
	}

	#slidebar {
		background-color: black;
		color: white;
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 150px;
		z-index: 1000;
		transition: top 0.25s $ease-out-sine;

		&.is-open {
			top: 0;
		}
	}

	/*#toggle_button {
  		display: block; 
  		position: absolute;
  		cursor: pointer;
  		top: 10px;
  		right: -55px;
  		width: 45px;
  		height: 8px;
  		background: white;
	}
	#toggle_button:before {
  		display: block;
 	 	content:"";
  		background-color: white;
  		height: 8px;
  		margin: 11px auto 0px;
  		width: 45px;
	}
	#toggle_button:after {
  		display: block;
 		content:"";
  		background-color: white;
  		height: 8px;
  		width: 45px;
  		margin: 3px auto 0px;
	}*/
	.skills-grid {
		width: 100%;
		float: left;	
	}
	.nav-imgLogo {
		margin-left: 10px;
	}
	.About-text {
		top: 0px;
		margin-right: 12px;
		font-size: 12px;
	}
	.logo3 {
		top: 0px;
		line-height: 25px;
		font-size: 30px;
		margin-right: 12px;
		margin-top: 55px;
	}

}
/****************Mobile*********************/
@media screen and (min-width: 551px) {
	.face2 {
		display: none;
	}
}
@media screen and (max-width: 550px) {
	.grid {
		width: 50%
	}
	.nav-site {
		display: none;
	}
	.logo {
		margin-top: 25px;
		margin-left: 14px;
		line-height: 13px;
		font-size: 15px;
	}
	.Skills-heading {
		top: 140px;
		font-size: 45px; 
		line-height: 55px;
	}
	.graphic {
		font-size: 70px;
		font-weight: 100;
	}
	
	/*#toggle_button {
  		width: 35px;
  		height: 6px;
	}
	#toggle_button:before {
  		height: 6px;
  		margin: 9px auto 0px;
  		width: 35px;
	}
	#toggle_button:after {
  		height: 6px;
  		width: 35px;
  		margin: 3px auto 0px;
	}*/
	.logo2 {
		line-height: 13px;
		font-size: 16px;
		margin-top: 23px;
	}
	.nav-imgLogo {
		width: 52px;
		float: left;
		margin-left: 5px;
		margin-top: 15px;
	}
	.image-radius {
		border-radius: 50%;
		background-color:red;
		overflow: auto;
	}
	.About-grid {
		width: 100%;
	}
	.About-column {
		width: 100%
	}
	.About-text {
		top: 0px;
		margin-right: 40px;
		margin-left: 40px;
		margin-bottom: 35px;
		font-size: 12px;
		text-align: left;
	}
	.logo3 {
		text-align: left;
		margin-left: 40px;
	}
	#nav-toggle {
  		right: 20px;
  		top: 9px;
  		padding: 30px 40px 46px 10px;
  	}
	#nav-toggle span,
	#nav-toggle span:before,
	#nav-toggle span:after, {
  		height: 5px;
  		width: 30px;
  	}
  	#nav-toggle span:before {
  		top: -10px;
	}

	#nav-toggle span:after {
 		bottom: -10px;
	}

	.skills-column-1 {
		height: 930px;
	}

	.skills-column-2 {
		height: 990px;
	}

	.skills-column-3 {
		height: 930px;
	}
	.logo4 {
		margin-left: 40px;
		margin-bottom: 40px;
		width: 60%
	}
	.Contact-grid {
		width: 50%;
		
	}
	.Connect {
		margin-left: 40px;
	}
	.contact-info {
		margin-left: 40px;
		font-size: 12px;
	}
	.face {
		display: none;
	}
	.face2 {
		width: 75%;
		margin-left: 50px;
		margin-right: 40px;
		margin-top: 70px;
	}
	.Contact-2 {
	margin-right: 0px;
	}
	h3 {
		font-size: 20px;
	}
	.circle {
    	width: 30px;
    	height: 30px;
    	margin-bottom: 10px;
    	margin-left: -5px;
	}
	.fa {
		text-align: center;
  		position: relative;
  		font-size: 15px;
  		left: 11px;
  		top: 8px;
  		color: white;
	}
	.fa-twitter {
		left: 9px;
	}
	.fa-behance {
		left: 8px;
	}
	.fa-linkedin {
		left: 10px;
	}
	.fa-instagram {
		left: 9.5px;
	}
	.col-2 {
		top: -80px;
		right: -40px;
	}
	.col-3 {
		top: -120px;
		right: -80px;
	}
	

}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



